<!DOCTYPE html>
<html>
<head>
    <script src="~/Content/components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="~/Content/components/polymer/polymer.html" />
    <link rel="import" href="~/Content/components/iron-icons/iron-icons.html" />
    <link rel="import" href="~/Content/components/iron-icon/iron-icon.html" />
    <link rel="import" href="~/Content/components/xenon-layout/nav-item.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-search.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-section.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-field-group.html" />
    <link rel="import" href="~/Content/components/xenon-layout/xenon-layout.html" />
    <link rel="import" href="~/Content/components/xenon-photo-card/xenon-photo-card.html" />
    <link rel="import" href="~/Content/components/paper-button/paper-button.html" />
    <link rel="import" href="~/Content/components/paper-menu/paper-menu.html" />
    <link rel="import" href="~/Content/components/paper-menu-button/paper-menu-button.html" />
    <link rel="import" href="~/Content/components/paper-item/paper-item.html" />
    <link rel="import" href="~/Content/components/paper-icon-button/paper-icon-button.html" />
    <link rel="import" href="~/Content/components/paper-input/paper-input.html" />
</head>
<body unresolved>
    <style>
          :host { display: block; --app-primary-color: #4285f4; --app-secondary-color: black; }
            a:link { text-decoration: none; color: black; }
            a:visited { text-decoration: none; color: black; }
            a:hover { text-decoration: none; color: black; }
            a:active { text-decoration: none; }
    </style>
    <div style="display:flex">
        <div style="flex: 0 1 150px;">
            <div>
                <paper-item><a href="/home/index">Home</a></paper-item>
                <paper-item><a href="/rate/index">Rates</a></paper-item>
                <paper-item><a href="/home/contact">Contact</a></paper-item>
            </div>
        </div>
        <div style="flex: 1 0 660px">
            @RenderBody()
        </div>
    </div>
</body>
</html>
