<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../xenon-photo-card/xenon-photo-card.html" />
<link rel="import" href="../iron-icon/iron-icon.html" />
<link rel="import" href="../iron-ajax/iron-ajax.html" />
<link rel="import" href="../iron-icons/iron-icons.html" />
<link rel="import" href="../paper-card/paper-card.html" />
<dom-module id="home-page">
    <template>
        <paper-card style="width:100%">
            <div class="card-content">
                <h4>Ethereum Prioject</h4>
                <template is="dom-repeat" items="{{rates}}">
                    <div>{{item.Key}} {{item.Value}}</div>
                </template>
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: 'home-page'
        });
    </script>
</dom-module>